# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vscode/ipch
*CMakeFiles
*CMakeCache*
*.exp
*.manifest
!ex01_helloworld/boost_python36-vc120-mt-x64-1_68.dll
!ex01_helloworld/build/boost_python36-vc120-mt-x64-1_68.dll